<div class="toolbar-wrapper">
  <div class="toolbar flex">
    <div class="left-side d-flex flex-wrap justify-content-start">
      <form class="search-form" id="searchForm">
        <input
          placeholder="Search"
          type="text"
          (keyup)="serchValue($event.target.value)"
          class="browser-default search-field"
          aria-label="Search box"
        />
        <button mat-icon-button color="primary">
          <i class="fas fa-search"></i>
        </button>
        <ng-content></ng-content>
      </form>
    </div>
    <div class="right-side d-flex flex-wrap justify-content-start">
      <button
        mat-flat-button
        style="background-color: rgb(21, 96, 189, 1); color: #fff"
        (click)="emitToolBarEvent($event, 'ADD_QUERY')"
      >
        <mat-icon>add</mat-icon> Add Patient
      </button>
      <!-- <button mat-icon-button class="toolbar-button"><mat-icon>refresh</mat-icon></button>
            <button mat-icon-button [matMenuTriggerFor]="menu" class="header-dropdown toolbar-button">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item><mat-icon>create</mat-icon>Actions&nbsp; &nbsp;</button>
            </mat-menu> -->
    </div>
  </div>
</div>
