.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0px 2px 10px #0000001a;
  border-radius: 10px;
  transition: all 0.3s ease;

  &:hover {
    box-shadow: 0px 2px 10px #48484808;
  }

  .left-side {
    display: flex;
    align-items: center;
    .search-form {
      display: flex;
      align-items: center;

      input[type="text"] {
        padding: 12px 16px;
        border: none;
        border-radius: 25px;
        outline: none;
        font-size: 1rem;
        width: 200px;
        background-color: #f5f5f5;
        margin-right: 10px;
        transition: all 0.3s ease;
        box-shadow: inset 0 2px 2px #e9f3ec;

        &:focus {
          width: 250px;
          background-color: #f4f4f4;
        }
      }

      button[type="submit"] {
        border: none;
        background-color: transparent;
        cursor: pointer;
        box-shadow: inset 2px 2px 10px #e6f1ea;

        i {
          color: #053d99;
          font-size: 1.2rem;
        }
      }
    }
  }
  .right-side {
    display: flex;
    justify-content: flex-end;

    .toolbar-button {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      border: none;
      border-radius: 50%;
      margin-left: 10px;
      cursor: pointer;
      font-size: 18px;
      color: #555;
      background-color: #f5f5f5;
      box-shadow: inset 2px 2px 10px #e6f1ea;
      transition: all 0.3s ease;

      &:hover {
        background-color: #e6e6e6;
      }

      i {
        transition: all 0.3s ease;
      }

      &:hover i {
        transform: scale(1.2);
      }
    }
  }
  @media (max-width: 768px) {
    flex-direction: column;
    .left-side {
      width: 100%;
      justify-content: center;
      margin-bottom: 10px;
      .search-form {
        input[type="text"] {
          &:focus {
            width:200px !important;
            background-color: #f4f4f4;
          }
        }
      }
      padding-bottom:10px;
      border-bottom: 1px solid rgb(235, 235, 235);
    }
    .right-side {
      width: 100%;
      justify-content: center;
    }
  }
}