<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb
        [title]="'Hospital'"
        [active_item]="'All Hospital Staff'"
      ></app-breadcrumb>
    </div>

    <div class="card p-2 row" style="margin: 0">
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Select Hospital</mat-label>
          <mat-select
            msInfiniteScroll
            (infiniteScroll)="onInfiniteScrollHospital()"
            (selectionChange)="onChangeHospital($event)"
            [(ngModel)]="selectHospital._id"
          >
            <input
              class="searchInput"
              placeholder="search..."
              (keydown.space)="$event.stopPropagation()"
              matInput
              (keyup)="searchHospital($event.target.value)"
            />
            <div
              class="other_option"
              *ngIf="!hospitalData?.length && !isLoadingHospital"
            >
              No results
            </div>
            <mat-option *ngFor="let item of hospitalData" [value]="item._id">
              {{ item.name }}
            </mat-option>
            <mat-spinner
              *ngIf="isLoadingHospital"
              class="mx-auto mb-2 mt-2"
              [diameter]="30"
            >
            </mat-spinner>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div style="margin-top: 12px" class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="body">
            <div class="table-responsive">
              <div class="materialTableHeader">
                <div class="row">
                  <div class="col-8">
                    <ul class="header-buttons-left ms-0 header-table">
                      <li class="dropdown">
                        <h2>
                          <strong>Hospital Staff</strong>
                        </h2>
                      </li>
                      <li class="dropdown m-l-20">
                        <label for="search-input"
                          ><i class="material-icons search-icon"
                            >search</i
                          ></label
                        >
                        <input
                          placeholder="Search"
                          type="text"
                          (keyup)="search($event.target.value)"
                          class="browser-default search-field"
                          aria-label="Search box"
                        />
                      </li>
                    </ul>
                  </div>
                  <div class="col-4">
                    <ul class="header-buttons">
                      <li>
                        <div class="m-l-10" matTooltip="Add">
                          <button
                            mat-mini-fab
                            color="primary"
                            (click)="addHospitalStaff('Add Hospital Staff')"
                          >
                            <mat-icon class="col-white">add</mat-icon>
                          </button>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <mat-table
                #table
                [dataSource]="hospitalStaffData"
                class="mat-cell"
              >
                <ng-container matColumnDef="createdAt">
                  <mat-header-cell *matHeaderCellDef
                    >Created At</mat-header-cell
                  >
                  <mat-cell *matCellDef="let row">
                    {{ row.createdAt | date : "medium" }}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="name">
                  <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{ row.name }}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="emailId">
                  <mat-header-cell *matHeaderCellDef>Email Id</mat-header-cell>
                  <mat-cell *matCellDef="let row">
                    <div class="matTableEmailIdWordBreak">
                      {{ row.emailId }}
                    </div></mat-cell
                  >
                </ng-container>

                <ng-container matColumnDef="contact">
                  <mat-header-cell *matHeaderCellDef>Contact</mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{ row.contact }}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="type">
                  <mat-header-cell *matHeaderCellDef>Type</mat-header-cell>
                  <mat-cell *matCellDef="let row">
                    {{ row.type | titlecase }}</mat-cell
                  >
                </ng-container>
                <ng-container matColumnDef="hospital">
                  <mat-header-cell *matHeaderCellDef>Hospital</mat-header-cell>
                  <mat-cell
                    *matCellDef="let row"
                    [matTooltip]="
                      truncateText(concatHospital(row.hospital), 80)
                    "
                  >
                    {{ truncateText(concatHospital(row.hospital), 10) }}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="action">
                  <mat-header-cell class="pr-0" *matHeaderCellDef
                    >Action</mat-header-cell
                  >
                  <mat-cell *matCellDef="let row; let i = index" class="pr-0">
                    <button
                      mat-icon-button
                      (click)="editHospitalStaff('Edit Hospital Staff', row)"
                      class="tbl-action-btn"
                    >
                      <app-feather-icons
                        [icon]="'edit'"
                        [class]="'tbl-fav-edit'"
                      ></app-feather-icons>
                    </button>
                    <button
                      mat-icon-button
                      (click)="deleteRecord(row._id)"
                      class="tbl-action-btn"
                    >
                      <app-feather-icons
                        [icon]="'trash-2'"
                        [class]="'tbl-fav-delete'"
                      ></app-feather-icons>
                    </button>
                  </mat-cell>
                </ng-container>
                <mat-header-row
                  *matHeaderRowDef="displayedColumns"
                ></mat-header-row>
                <!-- <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row> -->
                <mat-row
                  *matRowDef="let row; columns: displayedColumns"
                  [style.cursor]="'pointer'"
                  matRipple
                >
                </mat-row>
              </mat-table>

              <div class="table_loader" *ngIf="isDataLoading">
                <mat-spinner class="mx-auto mb-2 mt-2" [diameter]="30">
                </mat-spinner>
              </div>

              <div
                *ngIf="!isDataLoading && hospitalStaffData.data?.length === 0"
                class="no-results"
              >
                No results
              </div>
              <mat-paginator
                (page)="onPaginateChange($event)"
                [length]="totalElement"
                [pageSize]="hospitalStaffParams.limit"
                [pageSizeOptions]="[5, 10, 25, 100]"
              >
              </mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
