<section class="content">
  <div class="content-block">
    <div class="block-header">
      <app-breadcrumb
        [title]="'Account'"
        [active_item]="'Change Password'"
      ></app-breadcrumb>
    </div>
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="body">
            <form
              class="m-4"
              [formGroup]="changePasswordForm"
              (ngSubmit)="formSubmit()"
            >
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field
                    class="example-full-width"
                    appearance="outline"
                  >
                    <mat-label> Old Password</mat-label>
                    <input
                      matInput
                      type="password"
                      formControlName="oldPassword"
                      (keypress)="spaceRestrict($event)"
                    />
                    <mat-error
                      *ngIf="
                        changePasswordForm.controls['oldPassword'].hasError(
                          'required'
                        )
                      "
                    >
                      Old password is required
                    </mat-error>
                    <mat-error
                      *ngIf="
                        changePasswordForm.controls['oldPassword'].hasError(
                          'minlength'
                        )
                      "
                    >
                      Old password must be at least 8 characters</mat-error
                    >
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field
                    class="example-full-width"
                    appearance="outline"
                  >
                    <mat-label> New Password</mat-label>
                    <input
                      matInput
                      type="password"
                      formControlName="newPassword"
                      (keypress)="spaceRestrict($event)"
                    />
                    <mat-error
                      *ngIf="
                        changePasswordForm.controls['newPassword'].hasError(
                          'required'
                        )
                      "
                    >
                      New password is required
                    </mat-error>
                    <mat-error
                      *ngIf="
                        changePasswordForm.controls['newPassword'].hasError(
                          'minlength'
                        )
                      "
                    >
                      New password must be at least 8 characters</mat-error
                    >
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field
                    class="example-full-width"
                    appearance="outline"
                  >
                    <mat-label> Confirm Password</mat-label>
                    <input
                      matInput
                      type="password"
                      formControlName="confirmPassword"
                      (keypress)="spaceRestrict($event)"
                    />
                    <mat-error
                      *ngIf="
                        changePasswordForm.controls['confirmPassword'].hasError(
                          'required'
                        )
                      "
                    >
                      Confirm password is required
                    </mat-error>
                    <mat-error
                      *ngIf="
                        changePasswordForm.controls['confirmPassword'].hasError(
                          'minlength'
                        )
                      "
                    >
                      Confirm Password must be at least 8 characters</mat-error
                    >
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <button class="btn-space" mat-raised-button color="primary">
                    Submit
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
