// ::ng-deep
//   .always-floating-label.mat-form-field-appearance-fill
//   .mat-form-field-label {
//   transform: translateY(-16px) scale(0.75) !important;
// }

// ::ng-deep
//   .always-floating-label.mat-form-field-appearance-outline
//   .mat-form-field-label {
//   transform: translateY(-22px) scale(0.75) !important;
// }

.contain {
  overflow-y: auto;
  position: relative;
  padding: 12px 12px 0 12px;
}

.mainFormAndAttachmentGroup {
  display: grid;
  grid-template-columns: 20% 80%;
  gap: 10px;
}

.mainFormAndAttachmentGroupSolo {
  display: grid;
  grid-template-columns: 100%;
  gap: 10px;
}

.attachments {
  height: calc(100vh - 290px);
  overflow-y: auto;
  width: 100%;
  border: 1px dashed lightgrey;
  padding: 0 12px;
}

.vilForm {
  height: calc(100vh - 290px);
  overflow-y: auto;
}

.imageBox {
  padding: 6px;
  border: 1px solid lightgrey;
  border-radius: 10px;
  cursor: grab;
}
.action_div {
  display: flex;
  justify-content: space-between;
}

.imageHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
  span {
    font-size: 15px;
    font-weight: 600;
  }
}

.icon {
  margin-top: 10px;
  cursor: pointer;
  font-size: 25px;
  color: red;
}

.image {
  width: 100%;
  height: 80px;
}

.text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  width: 70%;
  line-clamp: 1;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
}
.iconImage {
  height: 150px;
}

.imageCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
