<div
  style="height: calc(100vh - 290px); overflow: scroll"
  class="hide-scrollbar p-4"
>
  <form [formGroup]="emailFrom">
    <div class="row">
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-2">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Email To</mat-label>
          <input type="email" matInput formControlName="emailTo" />
          <mat-error *ngIf="emailFrom.controls['emailTo'].hasError('required')">
            Email is required
          </mat-error>
          <mat-error *ngIf="emailFrom.controls['emailTo'].hasError('pattern')">
            Invalid email address</mat-error
          >
        </mat-form-field>
      </div>

      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-2">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Format</mat-label>
          <mat-select formControlName="format">
            <mat-option [value]="item?.value" *ngFor="let item of formatList"
              >{{ item?.title }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="emailFrom.controls['format'].hasError('required')">
            Format is required
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-2">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Language</mat-label>
          <mat-select
            formControlName="targetLanguage"
            msInfiniteScroll
            (infiniteScroll)="onInfiniteScrollLanguage()"
          >
            <input
              class="searchInput"
              placeholder="search..."
              (keydown.space)="$event.stopPropagation()"
              matInput
              (keyup)="searchLanguage($event.target.value)"
            />
            <div
              class="other_option"
              *ngIf="!languageList?.length && !isLoadingLanguage"
            >
              No results
            </div>
            <mat-option *ngFor="let item of languageList" [value]="item?.code">
              {{ item.name }}
            </mat-option>
            <mat-spinner
              *ngIf="isLoadingLanguage"
              class="mx-auto mb-2 mt-2"
              [diameter]="30"
            >
            </mat-spinner>
          </mat-select>
          <mat-error
            *ngIf="emailFrom.controls['targetLanguage'].hasError('required')"
          >
            Language is required
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div>
      <div>
        <button
          mat-button
          type="button"
          style="background-color: #1560bd; color: #fff; margin-bottom: 12px"
          (click)="addCc()"
        >
          +Add Cc
        </button>
      </div>

      <!-- emailCC array -->
      <div *ngIf="emailArray?.value?.length">
        <div formArrayName="emailCc">
          <div
            class="card p-3 pb-0"
            *ngFor="let email of emailArray.controls; let i = index"
          >
            <div
              style="
                display: flex;
                justify-content: space-between;
                align-items: center;
              "
            >
              <h6>
                <b>Cc {{ i + 1 }}</b>
              </h6>
              <mat-icon
                style="cursor: pointer; color: red"
                (click)="deleteCc(i)"
                >delete_forever
              </mat-icon>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-1">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Cc Email</mat-label>
                <input
                  type="email"
                  matInput
                  type="text"
                  [formControlName]="i"
                />
                <mat-error *ngIf="emailArray?.controls[i]?.hasError('pattern')">
                  Invalid email address</mat-error
                >
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-4">
      <h5 style="margin-bottom: 16px">Opinion Received</h5>
      <div *ngIf="request?.length">
        <div class="mb-2" *ngFor="let item of request">
          <mat-accordion>
            <mat-expansion-panel
              (opened)="panelOpenState = true"
              (closed)="panelOpenState = false"
            >
              <mat-expansion-panel-header
                displayMode="flat"
                expandedHeight="auto"
                collapsedHeight="auto"
                #exPanel
              >
                <mat-panel-title>
                  <div class="expansion-header">
                    <div class="mt-3 mb-2" (click)="!exPanel._toggle()">
                      <mat-checkbox
                        (change)="selectChange($event, item, false)"
                      >
                        <p class="mb-0">
                          <b>{{ item?.hospitalName }}</b>
                        </p>
                      </mat-checkbox>
                    </div>
                    <div class="header-content hide-scrollbar">
                      <div class="hide-scrollbar content">
                        <p>Stay in country</p>
                        <span
                          >{{ item?.stayInCountry }}
                          {{ item?.countryDuration | titlecase }}</span
                        >
                      </div>
                      <div class="hide-scrollbar content">
                        <p>Stay in hospital</p>
                        <span
                          >{{ item?.stayInHospital }}
                          {{ item?.hospitalDuration | titlecase }}</span
                        >
                      </div>
                      <div class="hide-scrollbar content">
                        <p>Initial Evaluation</p>
                        <span
                          >{{ item?.initialEvaluationMinimum }} -
                          {{ item?.initialEvaluationMaximum }}
                          {{ item?.currency?.code || "USD" }}</span
                        >
                      </div>
                      <div class="hide-scrollbar diagnosis">
                        <p>Diagnosis</p>
                        <span>{{ item?.diagnosis }}</span>
                      </div>
                    </div>
                  </div>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="p-3 expansion-wrapper">
                <div class="row">
                  <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-2">
                    <div><b>Doctor Name</b></div>
                    <div>{{ item?.doctorName }}</div>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-2">
                    <div><b>Hospital City</b></div>
                    <div>{{ item?.hospitalCity }}</div>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-2">
                    <div><b>Treatment Plan</b></div>
                    <div>{{ item?.treatmentPlan }}</div>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-2">
                    <div><b>Currency</b></div>
                    <div>
                      {{
                        !!item?.currency?.code ? item?.currency?.code : "NIL"
                      }}
                      -
                      {{
                        !!item?.currency?.name ? item?.currency?.name : "NIL"
                      }}
                    </div>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-2">
                    <div><b>Received At</b></div>
                    <div>
                      {{
                        item?.receivedAt
                          ? (item?.receivedAt | date : "medium")
                          : "NIL"
                      }}
                    </div>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-2">
                    <div><b>Created At</b></div>
                    <div>{{ item?.createdAt | date : "medium" }}</div>
                  </div>
                </div>
                <div>
                  <div><b>Remarks</b></div>
                  <div>{{ item?.remarks || "NIL" }}</div>
                </div>
              </div>

              <!-- for treatment -->
              <div
                *ngIf="item?.treatment?.length"
                class="p-3 mt-3 expansion-wrapper"
              >
                <h5>Treatment Details</h5>
                <div *ngFor="let treatment of item?.treatment; let i = index">
                  <div class="mt-4">
                    <p>
                      <b>Treatment {{ i + 1 }}</b>
                    </p>
                    <div class="row">
                      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-2">
                        <div><b>Name</b></div>
                        <div>{{ treatment?.name || "NIL" }}</div>
                      </div>
                      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-2">
                        <div><b>Room</b></div>
                        <div>{{ treatment?.room || "NIL" }}</div>
                      </div>
                      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-2">
                        <div><b>Min Cost</b></div>
                        <div>
                          {{ treatment?.minCost }}
                          {{ item?.currency?.code || "USD" }}
                        </div>
                      </div>
                      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-2">
                        <div><b>Max Cost</b></div>
                        <div>
                          {{ treatment?.maxCost }}
                          {{ item?.currency?.code || "USD" }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
      <div class="" *ngIf="isDataLoading">
        <mat-spinner class="mx-auto mb-2 mt-2" [diameter]="30"> </mat-spinner>
      </div>

      <div class="card m-4 p-3" *ngIf="!isDataLoading && !request?.length">
        <div style="text-align: center">--No Data Found--</div>
      </div>
    </div>

    <div class="mt-4">
      <h5 style="margin-bottom: 16px">Opinion Received Edited</h5>
      <div *ngIf="requestEdited?.length">
        <div class="mb-2" *ngFor="let item of requestEdited">
          <mat-accordion>
            <mat-expansion-panel
              (opened)="panelOpenState = true"
              (closed)="panelOpenState = false"
            >
              <mat-expansion-panel-header
                displayMode="flat"
                expandedHeight="auto"
                collapsedHeight="auto"
                #exPanel
              >
                <mat-panel-title>
                  <div class="expansion-header">
                    <div class="mt-3 mb-2" (click)="!exPanel._toggle()">
                      <mat-checkbox (change)="selectChange($event, item, true)">
                        <p class="mb-0">
                          <b>{{ item?.hospitalName }}</b>
                        </p>
                      </mat-checkbox>
                    </div>
                    <div class="header-content hide-scrollbar">
                      <div class="hide-scrollbar content">
                        <p>Stay in country</p>
                        <span
                          >{{ item?.stayInCountry }}
                          {{ item?.countryDuration | titlecase }}</span
                        >
                      </div>
                      <div class="hide-scrollbar content">
                        <p>Stay in hospital</p>
                        <span
                          >{{ item?.stayInHospital }}
                          {{ item?.hospitalDuration | titlecase }}</span
                        >
                      </div>
                      <div class="hide-scrollbar content">
                        <p>Initial Evaluation</p>
                        <span
                          >{{ item?.initialEvaluationMinimum }} -
                          {{ item?.initialEvaluationMaximum }}
                          {{ item?.currency?.code || "USD" }}</span
                        >
                      </div>
                      <div class="hide-scrollbar diagnosis">
                        <p>Diagnosis</p>
                        <span>{{ item?.diagnosis }}</span>
                      </div>
                    </div>
                  </div>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="p-3 expansion-wrapper">
                <div class="row">
                  <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-2">
                    <div><b>Doctor Name</b></div>
                    <div>{{ item?.doctorName }}</div>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-2">
                    <div><b>Hospital City</b></div>
                    <div>{{ item?.hospitalCity }}</div>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-2">
                    <div><b>Treatment Plan</b></div>
                    <div>{{ item?.treatmentPlan }}</div>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-2">
                    <div><b>Currency</b></div>
                    <div>
                      {{
                        !!item?.currency?.code ? item?.currency?.code : "NIL"
                      }}
                      -
                      {{
                        !!item?.currency?.name ? item?.currency?.name : "NIL"
                      }}
                    </div>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-2">
                    <div><b>Received At</b></div>
                    <div>
                      {{
                        item?.receivedAt
                          ? (item?.receivedAt | date : "medium")
                          : "NIL"
                      }}
                    </div>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-2">
                    <div><b>Created At</b></div>
                    <div>{{ item?.createdAt | date : "medium" }}</div>
                  </div>
                </div>
                <div>
                  <div><b>Remarks</b></div>
                  <div>{{ item?.remarks || "NIL" }}</div>
                </div>
              </div>

              <!-- for treatment -->
              <div
                *ngIf="item?.treatment?.length"
                class="p-3 mt-3 expansion-wrapper"
              >
                <h5>Treatment Details</h5>
                <div *ngFor="let treatment of item?.treatment; let i = index">
                  <div class="mt-4">
                    <p>
                      <b>Treatment {{ i + 1 }}</b>
                    </p>
                    <div class="row">
                      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-2">
                        <div><b>Name</b></div>
                        <div>{{ treatment?.name || "NIL" }}</div>
                      </div>
                      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-2">
                        <div><b>Room</b></div>
                        <div>{{ treatment?.room || "NIL" }}</div>
                      </div>
                      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-2">
                        <div><b>Min Cost</b></div>
                        <div>
                          {{ treatment?.minCost }}
                          {{ item?.currency?.code || "USD" }}
                        </div>
                      </div>
                      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-2">
                        <div><b>Max Cost</b></div>
                        <div>
                          {{ treatment?.maxCost }}
                          {{ item?.currency?.code || "USD" }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
      <div class="" *ngIf="isEditedDataLoading">
        <mat-spinner class="mx-auto mb-2 mt-2" [diameter]="30"> </mat-spinner>
      </div>

      <div
        class="card m-4 p-3"
        *ngIf="!isEditedDataLoading && !requestEdited?.length"
      >
        <div style="text-align: center">--No Data Found--</div>
      </div>
    </div>

    <mat-error
      class="mt-3"
      *ngIf="
        emailFrom.controls['selectHospital'].touched &&
        emailFrom.controls['selectHospital'].invalid
      "
    >
      Hospital Selection is required</mat-error
    >
  </form>
</div>
