.tab-wrapper {
  min-height: 15px;

  .mh-wrapper {
    padding: 1rem;

    .mh-content {
      margin-bottom: 10px;
      padding: 1rem 1.5rem;
      border: 1px solid #ccc;
      border-radius: 10px;
    }
  }
}

.uhidTable {
  border: 1px solid lightgrey;
  td {
    border: 1px solid lightgrey;
    padding: 8px 4px;
  }
  th {
    border: 1px solid lightgrey;
    padding: 8px 4px;
    background: #1560bd;
    color: white;
  }
}
