@import "../../../common-message-fetch-style.scss";

.contain {
  overflow-y: auto;
  position: relative;
  padding: 12px 12px 0 12px;
}

.mainFormAndAttachmentGroup {
  display: grid;
  grid-template-columns: 20% 80%;
  gap: 10px;
}

.mainFormAndAttachmentGroupSolo {
  display: grid;
  grid-template-columns: 100%;
  gap: 10px;
}

.attachments {
  height: calc(100vh - 290px);
  overflow-y: auto;
  width: 100%;
  border: 1px dashed lightgrey;
  padding: 0 12px;
}

.vilForm {
  height: calc(100vh - 290px);
  overflow-y: auto;
}
