<div class="p-4" *ngIf="!requestData?.status && !isLoading">
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
            <app-request-details [patientData]="patientData" [requestData]="requestData" type="proforma"></app-request-details>
        </div>

        <!-- right section -->
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
            <div *ngIf="!!requestData">
                <app-add-details-proforma [patientData]="patientData" [requestData]="requestData"
                    (refetch)="getProformaInvoiceRequestByHospitalOpenLink()"></app-add-details-proforma>
            </div>
        </div>
    </div>
</div>

<mat-spinner *ngIf="isLoading" class="mx-auto mb-2 mt-2" [diameter]="30">
</mat-spinner>

<div *ngIf="requestData?.status && !isLoading">
    <app-complete-page [message]="'Proforma invoice submitted successfully'"></app-complete-page>
</div>