<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb
        [title]="'Hospital Communication'"
        [active_item]="'All Hospital Communication'"
      ></app-breadcrumb>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <mat-card>
          <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Select Hospital</mat-label>
                <mat-select
                  msInfiniteScroll
                  (infiniteScroll)="onInfiniteScrollHospital()"
                  (selectionChange)="onChangeHospital($event)"
                  [(ngModel)]="selectHospital._id"
                >
                  <input
                    class="searchInput"
                    placeholder="search..."
                    (keydown.space)="$event.stopPropagation()"
                    matInput
                    (keyup)="searchHospital($event.target.value)"
                  />
                  <div
                    class="other_option"
                    *ngIf="!hospitalData?.length && !isLoadingHospital"
                  >
                    No results
                  </div>
                  <mat-option
                    *ngFor="let item of hospitalData"
                    [value]="item._id"
                  >
                    {{ item.name }}
                  </mat-option>
                  <mat-spinner
                    *ngIf="isLoadingHospital"
                    class="mx-auto mb-2 mt-2"
                    [diameter]="30"
                  >
                  </mat-spinner>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <mat-tab-group
          (selectedTabChange)="changeTab($event)"
          animationDuration="0ms"
        >
          <mat-tab label="Zone">
            <div *ngIf="selectedTab === 'Zone'">
              <app-shared-zone
                [hospitalId]="selectedHospitalId"
              ></app-shared-zone>
            </div>
          </mat-tab>
          <mat-tab label="Employee">
            <div *ngIf="selectedTab === 'Employee'">
              <app-shared-employee
                [hospitalId]="selectedHospitalId"
              ></app-shared-employee></div
          ></mat-tab>
          <mat-tab label="Doctor">
            <div *ngIf="selectedTab === 'Doctor'">
              <app-shared-email-zone-doctor
                [hospitalId]="selectedHospitalId"
              ></app-shared-email-zone-doctor>
            </div>
          </mat-tab>
          <mat-tab label="Default Email">
            <div *ngIf="selectedTab === 'Default Email'">
              <app-shared-default-email
                [hospitalId]="selectedHospitalId"
              ></app-shared-default-email>
            </div>
          </mat-tab>
          <mat-tab label="Default Message">
            <div *ngIf="selectedTab === 'Default Message'">
              <shared-default-message
                [hospitalId]="selectedHospitalId"
              ></shared-default-message>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</section>
