<section class="content">
  <div class="content-block">
    <div class="operation-board">
      <div
        class="operation-board-header d-flex justify-content-between align-items-center"
      >
        <div class="left">
          <h2>Operation Board</h2>
        </div>
      </div>
      <div class="dashboard-wrapper hide-scrollbar">
        <shared-today-query-list></shared-today-query-list>
        <shared-pending-query-list></shared-pending-query-list>
        <app-followup-list></app-followup-list>
        <shared-upcomming-arrival-list></shared-upcomming-arrival-list>
        <shared-on-ground-list></shared-on-ground-list>
        <shared-finance-list></shared-finance-list>
        <shared-closed-query-list></shared-closed-query-list>
      </div>
    </div>
  </div>
</section>
