.mat-checkbox{
    margin-left: 16px;
}
.drop-err{
    margin-left: 10px;
    color: #f44336;
    font-size: 79%;
    font-weight: 400;
}
.drop-mat{
    margin-bottom: -20px;
}
.drop-errors{
    font-size: 82% !important;
    margin: 2px !important;
}