<section class="content">
  <div class="content-block">
    <div class="block-header">
      <app-breadcrumb
        [title]="'Account'"
        [active_item]="'Notification Setting'"
      ></app-breadcrumb>
    </div>
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div
          class="card"
          *ngFor="let setting of queryManagementEventData; let i = index"
        >
          <mat-spinner
            *ngIf="isLoading"
            class="mx-auto mb-2 mt-2"
            [diameter]="30"
          >
          </mat-spinner>

          <div class="body" *ngIf="!isLoading">
            <form class="m-4" [formGroup]="autoReminderSettingForms[i]">
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <mat-form-field
                    class="example-full-width"
                    appearance="outline"
                  >
                    <mat-label>Event Type</mat-label>
                    <mat-select formControlName="eventType">
                      <mat-option
                        *ngFor="let list of queryManagementEventData"
                        [value]="list"
                      >
                        {{ list }}
                      </mat-option>
                    </mat-select>
                    <mat-error
                      *ngIf="
                        autoReminderSettingForms[i]
                          ?.get('eventType')
                          ?.hasError('required')
                      "
                    >
                      Event type is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div
                  class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3"
                  *ngIf="
                    autoReminderSettingForms[i]?.get('eventType')?.value !==
                      'dailyReportReferralPartner' &&
                    autoReminderSettingForms[i]?.get('eventType')?.value !==
                      'dailyReportInternalTeam'
                  "
                >
                  <button
                    (click)="addTimeInArray(i)"
                    mat-flat-button
                    type="button"
                    color="primary"
                  >
                    +Add Time
                  </button>
                </div>

                <div formArrayName="time">
                  <div
                    *ngFor="
                      let time of autoReminderSettingForms[i]?.get('time')
                        ?.controls;
                      let ind = index
                    "
                  >
                    <div
                      style="margin-bottom: 2px"
                      class="col-xl-6 col-lg-6 col-md-12 col-sm-12"
                    >
                      <h6>
                        Time {{ ind + 1 }}
                        <button
                          *ngIf="
                            autoReminderSettingForms[i]?.get('time').value
                              ?.length > 1
                          "
                          type="button"
                          mat-icon-button
                          (click)="removeTimeFromArray(i, ind)"
                          class="tbl-action-btn form_array_delete_icon"
                        >
                          <app-feather-icons
                            [icon]="'trash-2'"
                            [class]="'tbl-fav-delete'"
                          >
                          </app-feather-icons>
                        </button>
                      </h6>
                    </div>
                    <div class="row">
                      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                        <mat-form-field
                          class="example-full-width"
                          appearance="outline"
                        >
                          <mat-label>Time (Hour)</mat-label>
                          <input
                            matInput
                            type="text"
                            [formControlName]="ind"
                            (keypress)="spaceRestrict($event)"
                          />
                          <mat-error
                            *ngIf="
                              autoReminderSettingForms[i]
                                .get('time')
                                .controls[ind]?.hasError('pattern')
                            "
                          >
                            Time input must be in HH:00 or HH:30 format (0 to 23
                            hours, with optional :30 for half-hours).
                          </mat-error>
                          <!-- *ngIf="
                            autoReminderSettingForms[i]
                              .get('time')
                              .controls[ind].hasError('required')
                          " -->
                          <mat-error *ngIf="time?.hasError('required')">
                            Time is required
                          </mat-error>
                          <mat-hint
                            >Time input must be in HH:00 or HH:30 format (0 to 23
                            hours, with optional :30 for half-hours).</mat-hint
                          >
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2 mt-3">
                  <button
                    class="btn-space"
                    mat-raised-button
                    color="primary"
                    (click)="updateAutoReminderSetting(i)"
                  >
                    Save
                  </button>
                  <button
                    class="btn-space"
                    mat-raised-button
                    color="warn"
                    (click)="resetAutoReminderSetting(i)"
                  >
                    Reset
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
