<div class="addContainer">
  <div class="modalHeader">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <div class="modal-about">
          <div class="font-weight-bold p-t-5 font-17">
            {{ dialogTitle }}
          </div>
        </div>
      </div>
    </div>
    <button
      mat-icon-button
      (click)="closeDialog(false)"
      aria-label="Close dialog"
    >
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <hr />
  <div mat-dialog-content>
    <form [formGroup]="filterForm" class="p-4 pt-0">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <div class="multiple_select_custom">
            <mat-form-field class="example-full-width">
              <mat-label>Hospital</mat-label>
              <mat-select
                multiple
                formControlName="fieldFirst"
                msInfiniteScroll
                (infiniteScroll)="onInfiniteScrollHospital()"
                [compareWith]="compareObjects"
              >
                <input
                  class="searchInput"
                  placeholder="search..."
                  (keydown.space)="$event.stopPropagation()"
                  matInput
                  (keyup)="searchHospital($event.target.value)"
                />
                <div
                  class="other_option"
                  *ngIf="!hospitalData?.length && !isLoadingHospital"
                >
                  No results
                </div>

                <div class="other_option" *ngIf="hospitalData?.length">
                  <mat-checkbox (change)="selectAllHospital($event)"
                    >Select All
                  </mat-checkbox>
                </div>

                <mat-spinner
                  *ngIf="isLoadingHospitalSelectAll"
                  class="mx-auto mb-2 mt-2"
                  [diameter]="30"
                >
                </mat-spinner>

                <ng-container *ngIf="!isLoadingHospitalSelectAll">
                  <mat-option
                    (click)="
                      onClickHospital({
                        _id: item._id,
                        name: item.name
                      })
                    "
                    *ngFor="let item of hospitalData"
                    [value]="{
                      _id: item._id,
                      name: item.name
                    }"
                  >
                    {{ item.name }}
                  </mat-option>
                </ng-container>

                <mat-spinner
                  *ngIf="isLoadingHospital && !isLoadingHospitalSelectAll"
                  class="mx-auto mb-2 mt-2"
                  [diameter]="30"
                >
                </mat-spinner>
              </mat-select>
              <div class="chip_section" [perfectScrollbar]>
                <mat-chip-list>
                  <mat-chip
                    *ngFor="let item of filterForm.get('fieldFirst').value"
                  >
                    {{ item.name }}
                  </mat-chip>
                </mat-chip-list>
              </div>
              <mat-error
                *ngIf="filterForm.controls['fieldFirst'].hasError('required')"
              >
                Hospital is required
              </mat-error>
            </mat-form-field>
          </div>
        </div>
     
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <div class="multiple_select_custom">
            <mat-form-field class="example-full-width">
              <mat-label>Department</mat-label>
              <mat-select
                multiple
                formControlName="fieldSecond"
                msInfiniteScroll
                (infiniteScroll)="onInfiniteScrollDepartment()"
                [compareWith]="compareObjects"
              >
                <input
                  class="searchInput"
                  placeholder="search..."
                  (keydown.space)="$event.stopPropagation()"
                  matInput
                  (keyup)="searchDepartment($event.target.value)"
                />
                <div
                  class="other_option"
                  *ngIf="!departmentData?.length && !isLoadingDepartment"
                >
                  No results
                </div>

                <div class="other_option" *ngIf="departmentData?.length">
                  <mat-checkbox (change)="selectAllDepartment($event)"
                    >Select All
                  </mat-checkbox>
                </div>

                <mat-spinner
                  *ngIf="isLoadingDepartmentSelectAll"
                  class="mx-auto mb-2 mt-2"
                  [diameter]="30"
                >
                </mat-spinner>

                <ng-container *ngIf="!isLoadingDepartmentSelectAll">
                  <mat-option
                    (click)="
                      onClickDepartment({
                        _id: item._id,
                        name: item.name
                      })
                    "
                    *ngFor="let item of departmentData"
                    [value]="{
                      _id: item._id,
                      name: item.name
                    }"
                  >
                    {{ item.name }}
                  </mat-option>
                </ng-container>

                <mat-spinner
                  *ngIf="isLoadingDepartment && !isLoadingDepartmentSelectAll"
                  class="mx-auto mb-2 mt-2"
                  [diameter]="30"
                >
                </mat-spinner>
              </mat-select>
              <div class="chip_section" [perfectScrollbar]>
                <mat-chip-list>
                  <mat-chip
                    *ngFor="let item of filterForm.get('fieldSecond').value"
                  >
                    {{ item.name }}
                  </mat-chip>
                </mat-chip-list>
              </div>
              <mat-error
                *ngIf="filterForm.controls['fieldSecond'].hasError('required')"
              >
                Department is required
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>

      <div>
        <button (click)="onSubmit()" mat-flat-button color="primary">
          Submit
        </button>
        <button
          style="margin-left: 12px"
          mat-flat-button
          type="button"
          color="warn"
          (click)="resetFilter()"
        >
          Reset
        </button>
      </div>
    </form>
  </div>
</div>
