.estimateNotGivenTable {
  border: 1px solid lightgrey;
  td {
    border: 1px solid lightgrey;
    padding: 8px 4px;
  }
  th {
    border: 1px solid lightgrey;
    padding: 8px 4px;
    background: #1560bd;
    color: white;
  }
}
