<div class="modalHeader">
  <div class="editRowModal">
    <div class="modalHeader clearfix">
      <div class="modal-about">
        <div class="font-weight-bold p-t-5 font-17">
          {{ dialogTitle }}
        </div>
      </div>
    </div>
  </div>
  <button
    mat-icon-button
    (click)="closeDialog(false)"
    aria-label="Close dialog"
  >
    <mat-icon>close</mat-icon>
  </button>
</div>
<div mat-dialog-content>
  <form class="p-3" [formGroup]="formGroup">
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Select Hospital</mat-label>
          <mat-select formControlName="hospitalName">
            <mat-option
              [value]="item?.hospitalName"
              *ngFor="let item of freshPatientConfirmationDataForUHID"
              (click)="onSelectHospitalForUHID(item)"
              >{{ item?.hospitalName | titlecase }}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="formGroup?.controls['hospitalName']?.hasError('required')"
          >
            Hospital Name is required
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Admitted on Planned Date</mat-label>
          <mat-select formControlName="admittedOnPlannedDate">
            <mat-option
              [value]="item"
              *ngFor="let item of admissionOnPlannedDateOptions"
              >{{ item | titlecase }}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="
              formGroup.controls['admittedOnPlannedDate'].hasError('required')
            "
          >
            Admitted on Planned Date is required
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Admission Date</mat-label>
          <input
            matInput
            [owlDateTime]="adtc"
            [owlDateTimeTrigger]="adtc"
            formControlName="admissionDate"
          />
          <mat-icon matSuffix [owlDateTimeTrigger]="adtc" class="date-icon"
            >today</mat-icon
          >
          <owl-date-time
            hour12Timer="true"
            #adtc
            pickerType="both"
          ></owl-date-time>
        </mat-form-field>
      </div>

      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Discharge Date</mat-label>
          <input
            matInput
            [owlDateTime]="disd"
            [owlDateTimeTrigger]="disd"
            formControlName="dischargeDate"
          />
          <mat-icon matSuffix [owlDateTimeTrigger]="disd" class="date-icon"
            >today</mat-icon
          >
          <owl-date-time
            hour12Timer="true"
            #disd
            pickerType="both"
          ></owl-date-time>
        </mat-form-field>
      </div>

      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Admission On Planned Date Comment</mat-label>
          <textarea
            matInput
            formControlName="admittedOnPlannedDateComment"
          ></textarea>
          <!-- <mat-error
                  *ngIf="
                    formGroup.controls['admittedOnPlannedDateComment'].hasError(
                      'required'
                    )
                  "
                >
                  Admission On Planned Date Comment is required
                </mat-error> -->
        </mat-form-field>
      </div>

      <div>
        <app-global-image-preview
          [fileList]="fileList"
          [filePreviewList]="filePreviewUrls"
          [type]="'fileUploader'"
          [remove]="true"
          (onDelete)="onDelete($event)"
        ></app-global-image-preview>

        <div id="fileFirst">
          <h6 style="color: #666666">Uplaod Discharge Summary</h6>
          <mat-form-field
            class="example-full-width always-floating-label"
            appearance="outline"
          >
            <ngx-mat-file-input
              style="display: none"
              #fileFirstInput
              class="mat-form-field-should-float"
              accept=".png, .jpg, .jpeg, .pdf"
              name="file"
              formControlName="file"
              (change)="onFileSelected($event)"
              multiple
            >
            </ngx-mat-file-input>

            <div
              style="
                display: flex;
                align-items: center;
                justify-content: space-between;
              "
            >
              <div>
                <span *ngFor="let file of fileList; let i = index">
                  <span
                    >{{ file?.name
                    }}<span *ngIf="i < fileList?.length - 1">, </span>
                  </span>
                </span>
              </div>
              <mat-icon style="transform: translateY(-5px)">upload</mat-icon>
            </div>
            <!-- <mat-error
                  *ngIf="
                    vilRequestForm.controls['fileFirst'].hasError('required')
                  "
                >
                  Passport is required
                </mat-error> -->
          </mat-form-field>
        </div>
      </div>
    </div>

    <div>
      <button mat-flat-button color="primary" (click)="actionSubmit(true)">
        Submit
      </button>
    </div>
  </form>
</div>
