<div class="addContainer">
  <div class="modalHeader">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <div class="modal-about">
          <div class="font-weight-bold p-t-5 font-17">
            {{ dialogTitle }}
          </div>
        </div>
      </div>
    </div>
    <button
      mat-icon-button
      (click)="closeDialog(false)"
      aria-label="Close dialog"
    >
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <form
      class="m-4"
      [formGroup]="referralPartnerStaffForm"
      (ngSubmit)="formSubmit()"
    >
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput type="text" formControlName="name" />
            <mat-error
              *ngIf="
                referralPartnerStaffForm.controls['name'].hasError('required')
              "
            >
              Name is required
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Email Id</mat-label>
            <input
              matInput
              type="email"
              formControlName="emailId"
              (keypress)="spaceRestrict($event)"
            />
            <mat-error
              *ngIf="
                referralPartnerStaffForm.controls['emailId'].hasError(
                  'required'
                )
              "
            >
              Email is required
            </mat-error>
            <mat-error
              *ngIf="
                referralPartnerStaffForm.controls['emailId'].hasError('pattern')
              "
            >
              Invalid email address</mat-error
            >
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Contact</mat-label>
            <ngx-mat-intl-tel-input
              formControlName="contact"
              [enablePlaceholder]="true"
              [enableSearch]="true"
              [preferredCountries]="['in']"
            ></ngx-mat-intl-tel-input>

            <mat-error
              *ngIf="
                referralPartnerStaffForm.controls['contact'].hasError(
                  'required'
                )
              "
            >
              Contact is required
            </mat-error>
            <mat-error
              *ngIf="
                referralPartnerStaffForm.controls['contact']?.errors
                  ?.validatePhoneNumber
              "
              >Invalid contact</mat-error
            >
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <div class="multiple_select_custom">
            <mat-form-field class="example-full-width">
              <mat-label>Referral Partner</mat-label>
              <mat-select
                multiple
                formControlName="referralPartner"
                [compareWith]="compareObjects"
              >
                <input
                  class="searchInput"
                  placeholder="search..."
                  (keydown.space)="$event.stopPropagation()"
                  matInput
                  (keyup)="searchPreReferralPartner($event.target.value)"
                />
                <div
                  class="other_option"
                  *ngIf="
                    !referralPartnerData?.length && !isLoadingReferralPartner
                  "
                >
                  No results
                </div>

                <div class="other_option" *ngIf="referralPartnerData?.length">
                  <mat-checkbox (change)="selectAllPreReferralPartner($event)"
                    >Select All
                  </mat-checkbox>
                </div>

                <mat-spinner
                  *ngIf="isLoadingReferralPartnerSelectAll"
                  class="mx-auto mb-2 mt-2"
                  [diameter]="30"
                >
                </mat-spinner>

                <ng-container *ngIf="!isLoadingReferralPartnerSelectAll">
                  <mat-option
                    (click)="
                      onClickHospital({
                        _id: item._id,
                        name: item.name
                      })
                    "
                    *ngFor="let item of referralPartnerData"
                    [value]="{
                      _id: item._id,
                      name: item.name
                    }"
                  >
                    {{ item.name }}
                  </mat-option>
                </ng-container>

                <mat-spinner
                  *ngIf="
                    isLoadingReferralPartner &&
                    !isLoadingReferralPartnerSelectAll
                  "
                  class="mx-auto mb-2 mt-2"
                  [diameter]="30"
                >
                </mat-spinner>
              </mat-select>
              <div class="chip_section" [perfectScrollbar]>
                <mat-chip-list>
                  <mat-chip
                    *ngFor="
                      let item of referralPartnerStaffForm.get(
                        'referralPartner'
                      ).value
                    "
                  >
                    {{ item.name }}
                  </mat-chip>
                </mat-chip-list>
              </div>
              <mat-error
                *ngIf="
                  referralPartnerStaffForm.controls['referralPartner'].hasError(
                    'required'
                  )
                "
              >
                Referral Partner is required
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <div class="example-button-row">
            <button mat-raised-button color="primary" type="submit">
              Submit
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
