<div class="query">
    <div class="header">
        <h1 class="title wrapped-text" matTooltip="'John Doe'" matTooltipPosition="left">John Doe</h1>
        <div class="desktop-header-buttons" *ngIf="windowWidth >= 768">
            <ng-container *ngFor="let prop of queryButtons">
                <button *ngIf="validateButton(prop.name)" [matTooltip]="prop.tooltip" (click)="btnHandler($event,prop,null)" mat-mini-fab color="default" [ngStyle]="{'background-color':prop.color,'color':'#fff'}">
                    <mat-icon  *ngIf="prop.name !== 'Send'">{{prop.icon}}</mat-icon>
                    <i *ngIf="prop.name === 'Send'" style="transform: scale(130%); translate:-1px -1px;" class="fas fa-paper-plane"></i>
                </button>
                <button color="primary" matTooltip="Assign Hospital" style="transform: scale(150%);" (click)="btnHandler($event,prop,null)" mat-flat-button *ngIf="prop.name ==='Assign'">Assign Hospital</button>
            </ng-container>
        </div>
        <div class="mobile" *ngIf="windowWidth < 768">
            <div class="mobile-header-buttons">
                <button mat-mini-fab [matMenuTriggerFor]="menu" color="default">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button *ngFor="let prop of queryButtons" [matTooltip]="prop.tooltip" (click)="btnHandler($event,prop,null)" mat-flat-button>{{prop.name}}</button>
                </mat-menu>
            </div>
        </div>
    </div>
    
    <div class="details mt-3 ">
        <span class="d-flex justify-content-between align-items-baseline status heading">
            <h3>Patient Details</h3>
            <button mat-icon-button (click)="isDetails = !isDetails; isTabs = !isTabs">
                <i [class]="isDetails ? 'fas fa-chevron-up' : 'fas fa-chevron-down'"></i>
            </button>
        </span>
        <div class="details-content" *ngIf="isDetails">
            <div>
                <h4 class="wrapped-text">Name</h4>
                <p>John Doe</p>
            </div>
            <div>
                <h4 class="wrapped-text">Email</h4>
                <p>test@gmail.com</p>
            </div>
            <div>
                <h4>Mobile</h4>
                <p>1234567891</p>
            </div>
            <div>
                <h4>Country</h4>
                <p>India</p>
            </div>
            <div>
                <h4>Gender</h4>
                <p>Male</p>
            </div>
            <div>
                <h4>Age</h4>
                <p>32</p>
            </div>
            <div>
                <h4>Treatment</h4>
                <p>Fever</p>
            </div>
            <div>
                <h4>Referral Partner</h4>
                <p>Mike</p>
            </div>
        </div>
    </div>
    
    <div class="other-details mt-3" style="height:auto;">
        <span class="d-flex justify-content-between align-items-baseline status heading">
            <h3>Other Details</h3>
            <button mat-icon-button (click)="isTabs = !isTabs; isDetails = !isDetails">
                <i [class]="isTabs ? 'fas fa-chevron-up' : 'fas fa-chevron-down'"></i>
            </button>
        </span>
        <div class="other-details-content" *ngIf="isTabs">
            <mat-tab-group>
                <mat-tab *ngFor="let item of tabs" [label]="item.name">
                    <ng-template matTabContent>
                        <app-query-tab [tabName]="item.name"></app-query-tab>
                    </ng-template>
                </mat-tab>
            </mat-tab-group>
            <app-query-tab></app-query-tab>
        </div>
    </div>
</div>