th {
  padding: 16px 12px !important;
  // background-color: #0088d1 !important;
}
.newTh {
  background-color: white !important;
  color: black !important;
}

td {
  // cursor: pointer !important;
  // padding: 16px !important;
  border-bottom: 1px solid lightgrey !important;
}

.tbBTM {
  border-bottom: none !important;
  padding: 0 !important;
}

.loaderAndEmpty {
  height: 380px;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background-color: white !important;
  }
}

tbody {
  padding: 0 1px !important;
}

.text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  width: 100%;
  line-clamp: 2;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
}

.readMsg {
  background-color: #f2f6fc;
  border-bottom: 1px solid black;
}

.fileTag {
  border-radius: 10px;
  padding: 2px 8px;
  text-align: center;
  cursor: pointer;
  background-color: rgb(238, 237, 237);
  color: black;
  border: 0.5px solid rgba(0, 0, 0, 0.394);
  font-weight: 500;
}

.capsuleText {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  width: 130px;
  line-clamp: 1;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
}

.restFiles {
  width: 40px;
  height: 25px;
  display: grid;
  place-items: center;
  cursor: pointer;
  border-radius: 10px;
  background-color: rgb(238, 237, 237);
  color: black;
  border: 0.5px solid rgba(0, 0, 0, 0.394);
  font-weight: 500;
  font-size: 12px;
}

.first {
  display: flex;
  align-items: center;
  // padding-left: 8px;
  gap: 8px;
  row-gap: 10px;
  flex-wrap: wrap;
}

.pagination {
  display: flex;
  gap: 10px;
  align-items: center;
}

.search-form {
  margin-left: 16px;
  display: flex;
  align-items: center;

  input[type="text"] {
    padding: 12px 16px;
    border: none;
    border-radius: 25px;
    outline: none;
    font-size: 1rem;
    width: 200px;
    background-color: #f5f5f5;
    margin-right: 10px;
    transition: all 0.3s ease;
    box-shadow: inset 0 2px 2px #e9f3ec;

    &:focus {
      width: 250px;
      background-color: #f4f4f4;
    }
  }

  button[type="submit"] {
    border: none;
    background-color: transparent;
    cursor: pointer;
    box-shadow: inset 2px 2px 10px #e6f1ea;

    i {
      color: #053d99;
      font-size: 1.2rem;
    }
  }
}

.avatarDiv {
  display: flex;
  gap: 8px;
  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    // background-color: #0088d1;
    background-color: #d69ca5;
    color: white;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1.3px;
  }
}

.filter_active {
  // background: rgb(197, 252, 233);
  background: #6cb5f9;
  color: black;
  outline: none;
}

::ng-deep .mat-button-focus-overlay {
  display: none;
}
