<div class="addOpinionEmailFetch">
  <div *ngIf="!isAiLoading">
    <div
      [ngClass]="
        messageData?.attachments?.length > 0
          ? 'mainFormAndAttachmentGroup'
          : 'mainFormAndAttachmentGroupSolo'
      "
    >
      <div
        *ngIf="messageData?.attachments?.length > 0"
        class="attachments hide-scrollbar"
      >
        <h6 class="mb-4 mt-2">Attachments</h6>

        <div class="row">
          <div
            id="attachmentList"
            class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-4"
            *ngFor="let file of messageData?.attachments; let i = index"
          >
            <div class="imageBox">
              <div class="imageHeader">
                <a
                  *ngIf="
                    !file?.type?.includes('application') ||
                    file?.type === 'application/pdf'
                  "
                  class="m-0"
                  [matTooltip]="file?.originalname"
                  (click)="openLightBox($event, messageData?.attachments, i)"
                >
                  <b class="cursor_pointer">Open File</b>
                </a>

                <a
                  class="text"
                  *ngIf="
                    file?.type?.includes('application') &&
                    file?.type !== 'application/pdf'
                  "
                  [matTooltip]="file?.name"
                  >{{ file?.name }}</a
                >

                <mat-icon
                  style="cursor: pointer"
                  (click)="downloadImage(file?.url, file?.originalname)"
                >
                  open_in_new
                </mat-icon>
              </div>
              <div class="imageCenter">
                <!-- for other images -->
                <img
                  [src]="file?.url"
                  *ngIf="file?.type?.includes('image')"
                  class="image"
                />
                <!-- for other pdf -->
                <iframe
                  [src]="file?.url | safeUrl"
                  *ngIf="file?.type === 'application/pdf'"
                  class="image"
                ></iframe>
                <!-- for random docs -->
                <img
                  *ngIf="
                    !file?.type?.includes('application') &&
                    !file?.type.includes('image') &&
                    !file?.type?.includes('video') &&
                    !file?.type?.includes('audio')
                  "
                  class="iconImage"
                  [src]="getRandomDocImage()"
                />
                <!-- for other docs -->
                <img
                  *ngIf="
                    file?.type?.includes('application') &&
                    file?.type !== 'application/pdf'
                  "
                  class="iconImage"
                  [src]="getDocIcon(file)"
                />
                <!-- for video -->
                <video
                  [src]="file?.url"
                  class="image"
                  *ngIf="file?.type?.includes('video')"
                  controls
                ></video>
                <!-- for audio -->
                <audio
                  class="image"
                  *ngIf="file?.type?.includes('audio')"
                  controls
                >
                  <source [src]="file?.url" [type]="file?.type" />
                </audio>
              </div>
              <hr class="m-0" />
              <div
                style="
                  cursor: pointer;
                  color: green;
                  margin-top: 8px;
                  text-decoration: underline;
                  text-align: center;
                "
                (click)="onClickReadFile(file)"
              >
                Read File
              </div>
            </div>
          </div>
          <shared-whatsapp-fetch-image-lightbox
            [isLightbox]="isLightBox"
            [lightBoxData]="lightBoxData"
            *ngIf="isLightBox"
            (lightBoxEvent)="closeLightBox($event)"
          ></shared-whatsapp-fetch-image-lightbox>
        </div>
      </div>

      <form [formGroup]="opinionForm" class="formDiv p-2 hide-scrollbar">
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Hospital</mat-label>
              <mat-select formControlName="hospitalName">
                <div
                  class="other_option"
                  *ngIf="!request?.length && !isLoadingRequest"
                >
                  No results
                </div>
                <ng-container>
                  <mat-option
                    (click)="onClickHospital(item)"
                    *ngFor="let item of request"
                    [value]="item?.hospitalName"
                  >
                    {{ item?.hospitalName }}
                  </mat-option>
                </ng-container>
              </mat-select>
              <mat-error
                *ngIf="
                  opinionForm.controls['hospitalName'].hasError('required')
                "
              >
                Hospital is required
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Doctor Name</mat-label>
              <mat-select formControlName="doctorName">
                <input
                  class="searchInput"
                  placeholder="search..."
                  (keydown.space)="$event.stopPropagation()"
                  matInput
                  (keyup)="searchDoctor($event.target.value)"
                />
                <div class="other_option" *ngIf="!doctorsList?.length">
                  No results
                </div>
                <mat-option
                  (click)="onClickDoctor(list)"
                  *ngFor="let list of doctorsList"
                  [value]="list?.name"
                >
                  {{ list?.name }}
                </mat-option>
              </mat-select>
              <mat-error
                *ngIf="opinionForm.controls['doctorName'].hasError('required')"
              >
                Doctor is required
              </mat-error>
            </mat-form-field>
          </div>
          <div
            *ngIf="opinionForm.get('doctorName')?.value === 'Other'"
            class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2"
          >
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Other Doctor Name</mat-label>
              <input matInput type="text" formControlName="otherDoctorName" />
            </mat-form-field>
          </div>
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Treatment Plan</mat-label>
              <textarea
                matInput
                type="textarea"
                formControlName="treatmentPlan"
                placeholder="Treatment Plan"
              ></textarea>
              <mat-error
                *ngIf="
                  opinionForm.controls['treatmentPlan'].hasError('required')
                "
              >
                Treatment Plan is required
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Diagnosis</mat-label>
              <textarea
                matInput
                type="textarea"
                formControlName="diagnosis"
                placeholder="Diagnosis"
              ></textarea>
              <mat-error
                *ngIf="opinionForm.controls['diagnosis'].hasError('required')"
              >
                Diagnosis is required
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Stay in Country</mat-label>
              <input
                matInput
                type="number"
                (keypress)="spaceRestrict($event)"
                formControlName="stayInCountry"
              />
              <mat-error
                *ngIf="
                  opinionForm.controls['stayInCountry'].hasError('required')
                "
              >
                Stay in country is required
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Country Duration</mat-label>
              <mat-select formControlName="countryDuration">
                <mat-option [value]="item" *ngFor="let item of durationData"
                  >{{ item | titlecase }}
                </mat-option>
              </mat-select>
              <mat-error
                *ngIf="
                  opinionForm.controls['countryDuration'].hasError('required')
                "
              >
                Country Duration is required
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Stay in Hospital</mat-label>
              <input
                matInput
                type="number"
                (keypress)="spaceRestrict($event)"
                formControlName="stayInHospital"
              />
              <mat-error
                *ngIf="
                  opinionForm.controls['stayInHospital'].hasError('required')
                "
              >
                Stay in Hospital is required
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Hospital Duration</mat-label>
              <mat-select formControlName="hospitalDuration">
                <mat-option [value]="item" *ngFor="let item of durationData"
                  >{{ item | titlecase }}
                </mat-option>
              </mat-select>
              <mat-error
                *ngIf="
                  opinionForm.controls['hospitalDuration'].hasError('required')
                "
              >
                Hospital Duration is required
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Select Currency</mat-label>
              <mat-select
                formControlName="currency"
                [compareWith]="compareCurrencyObjects"
              >
                <input
                  class="searchInput"
                  placeholder="search..."
                  (keydown.space)="$event.stopPropagation()"
                  matInput
                  (keyup)="searchCurrency($event.target.value)"
                />
                <div class="other_option" *ngIf="!currencyArray?.length">
                  No results
                </div>

                <mat-option
                  (click)="onClickCurrency(currency)"
                  *ngFor="let currency of currencyArray"
                  [value]="currency"
                >
                  {{ currency?.code }} - {{ currency?.name }}
                </mat-option>
              </mat-select>
              <mat-error
                *ngIf="opinionForm.controls['currency'].hasError('required')"
              >
                Select Currency is required
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Initial Evaluation Minimum</mat-label>
              <input
                matInput
                (keypress)="spaceRestrict($event)"
                formControlName="initialEvaluationMinimum"
                type="number"
              />
              <mat-error
                *ngIf="
                  opinionForm.controls['initialEvaluationMinimum'].hasError(
                    'required'
                  )
                "
              >
                Initial Evaluation Minimum is required
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Initial Evaluation Maximum</mat-label>
              <input
                matInput
                (keypress)="spaceRestrict($event)"
                formControlName="initialEvaluationMaximum"
                type="number"
              />
              <mat-error
                *ngIf="
                  opinionForm.controls['initialEvaluationMaximum'].hasError(
                    'required'
                  )
                "
              >
                Initial Evaluation Maximum is required
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div>
          <div>
            <button
              mat-button
              type="button"
              style="
                background-color: #1560bd;
                color: #fff;
                margin-bottom: 12px;
              "
              (click)="addTreatment()"
            >
              +Add Treatment
            </button>
          </div>

          <div *ngIf="treatmentArray?.value?.length">
            <div formArrayName="treatment">
              <div
                class="card p-3"
                *ngFor="let treatment of treatmentArray.controls; let i = index"
              >
                <div
                  style="
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                  "
                >
                  <h4>Treatment {{ i + 1 }}</h4>
                  <mat-icon
                    *ngIf="i > 0"
                    style="cursor: pointer; color: red"
                    (click)="deleteTreatment(i)"
                    >delete_forever</mat-icon
                  >
                </div>
                <div class="row" [formGroupName]="i">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field
                      class="example-full-width"
                      appearance="outline"
                    >
                      <mat-label>Treatment Name</mat-label>
                      <input matInput type="text" formControlName="name" />
                      <mat-error
                        *ngIf="treatment?.controls['name'].hasError('required')"
                      >
                        Treatment Name is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field
                      class="example-full-width"
                      appearance="outline"
                    >
                      <mat-label>Room</mat-label>
                      <input matInput type="text" formControlName="room" />
                      <mat-error
                        *ngIf="treatment?.controls['room'].hasError('required')"
                      >
                        Room is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field
                      class="example-full-width"
                      appearance="outline"
                    >
                      <mat-label>Minimum Cost</mat-label>
                      <input
                        matInput
                        type="number"
                        (keypress)="spaceRestrict($event)"
                        formControlName="minCost"
                      />
                      <mat-error
                        *ngIf="
                          treatment?.controls['minCost'].hasError('required')
                        "
                      >
                        Minimum Cost is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field
                      class="example-full-width"
                      appearance="outline"
                    >
                      <mat-label>Maximum Cost</mat-label>
                      <input
                        matInput
                        type="number"
                        (keypress)="spaceRestrict($event)"
                        formControlName="maxCost"
                      />
                      <mat-error
                        *ngIf="
                          treatment?.controls['maxCost'].hasError('required')
                        "
                      >
                        Maximum Cost is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Remarks</mat-label>
              <textarea
                matInput
                type="textarea"
                formControlName="remarks"
                placeholder="Remarks"
              ></textarea>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Received At</mat-label>
              <input
                matTooltip="For tasks received via email or WhatsApp, enter the date and time received; if editing is disabled, it’s auto-captured."
                matInput
                [owlDateTime]="dt"
                [owlDateTimeTrigger]="dt"
                formControlName="receivedAt"
              />
              <mat-icon matSuffix [owlDateTimeTrigger]="dt" class="date-icon"
                >today</mat-icon
              >
              <owl-date-time
                hour12Timer="true"
                #dt
                pickerType="both"
              ></owl-date-time>
            </mat-form-field>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div
    style="
      height: calc(100vh - 290px);
      display: flex;
      align-items: center;
      justify-content: center;
    "
    *ngIf="isAiLoading"
  >
    AI is fetching details from Message...
  </div>
</div>
