<section class="content">
    <div class="content-block">
        <div class="block-header">
            <app-breadcrumb [title]="'Account'" [active_item]="'Auto Reminder Setting'"></app-breadcrumb>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card" *ngFor="let setting of queryManagementEventData; let i = index">
                    <mat-spinner *ngIf="isLoading" class="mx-auto mb-2 mt-2"
                    [diameter]="30">
                </mat-spinner>

                    <div class="body" *ngIf="!isLoading">
                        <form class="m-4" [formGroup]="autoReminderSettingForms[i]">
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Event Type</mat-label>
                                        <input matInput type="text" formControlName="eventType" >
                                        <mat-error *ngIf="autoReminderSettingForms[i].get('eventType').hasError('required')">
                                            Event type is required
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Time 1 (Hour)</mat-label>
                                        <input matInput type="number" formControlName="time1" (keypress)="spaceRestrict($event)">
                                        <mat-error *ngIf="autoReminderSettingForms[i].get('time1').hasError('required')">
                                            Time 1 is required
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Time 2 (Hour)</mat-label>
                                        <input matInput type="number" formControlName="time2" (keypress)="spaceRestrict($event)">
                                        <mat-error *ngIf="autoReminderSettingForms[i].get('time2').hasError('required')">
                                            Time 2 is required
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                    <button class="btn-space" mat-raised-button color="primary" (click)="updateAutoReminderSetting(i)">
                                        Save
                                    </button>
                                    <button class="btn-space" mat-raised-button color="warn" (click)="resetAutoReminderSetting(i)">
                                        Reset
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>