<div class="detailed_sm_lightbox_main row">
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 mb-2">
    <div class="details p-3 pt-5">
      <ng-content></ng-content>
    </div>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 col-xl-8">
    <div class="lightbox">
      <div class="lightbox-content">
        <div class="lightbox-image-container hide-scrollbar">
          <img
            *ngIf="type?.includes('image') || type === 'image'"
            id="lightbox-image"
            class="lightbox-image"
            [src]="getSource()"
          />
          <div *ngIf="type === 'application/pdf' || type?.includes('pdf')">
            <pdf-viewer
              [src]="getSource()"
              [render-text]="true"
              [original-size]="false"
              [autoresize]="true"
              [show-borders]="false"
              class="lightbox-pdf"
            >
            </pdf-viewer>
          </div>
          <!-- for audio -->
          <audio class="image" *ngIf="type.includes('audio')" controls>
            <source [src]="getSource()" [type]="type" />
          </audio>
          <!-- for video -->
          <video
            width="100%"
            height="100%"
            *ngIf="type.includes('video')"
            controls
            [src]="getSource()"
          ></video>
        </div>
      </div>

      <app-feather-icons
        [icon]="'x-circle'"
        class="lightbox-close"
        (click)="emitLightBoxEvent($event, 'CLOSE')"
      >
      </app-feather-icons>

      <app-feather-icons
        [icon]="'chevron-right'"
        class="lightbox-next"
        (click)="next()"
      ></app-feather-icons>

      <app-feather-icons
        [icon]="'chevron-left'"
        class="lightbox-pre"
        (click)="pre()"
      ></app-feather-icons>
    </div>
  </div>
</div>
