<section class="content">
  <div class="content-block">
    <div class="grid1x2">
      <div class="left">
        <div class="card p-3 m-0">
          <h4>Master Setting</h4>

          <div class="mt-2 masterOptions">
            <span
              *ngFor="let item of masterOptionsArray"
              (click)="onClickMasterOption(item)"
              [ngClass]="
                item?.isSelected ? 'fieldOptions isSelected' : 'fieldOptions'
              "
            >
              <mat-icon class="masterOptionIcon">{{ item?.icon }}</mat-icon>
              {{ item?.name }}
            </span>
          </div>
        </div>
      </div>
      <div class="right">
        <div class="card p-3 m-0">
          <div
            *ngIf="selectedMasterOption?.value === 'companyMaster'"
            style="height: 100%"
          >
            <shared-master-add-company
              [selectedMasterOption]="selectedMasterOption"
            ></shared-master-add-company>
          </div>
          <div
            *ngIf="selectedMasterOption?.value === 'hospitalPayoutMaster'"
            style="height: 100%"
          >
            <shared-master-add-hospital-payout
              [selectedMasterOption]="selectedMasterOption"
            ></shared-master-add-hospital-payout>
          </div>
          <div
            *ngIf="selectedMasterOption?.value === 'partnerPayoutMaster'"
            style="height: 100%"
          >
            <shared-master-add-partner-payout
              [selectedMasterOption]="selectedMasterOption"
            ></shared-master-add-partner-payout>
          </div>
          <div
            *ngIf="selectedMasterOption?.value === 'salesIncentiveMaster'"
            style="height: 100%"
          >
            <shared-master-add-sales-incentives
              [selectedMasterOption]="selectedMasterOption"
            ></shared-master-add-sales-incentives>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
