<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb
        [title]="'Internal User'"
        [active_item]="'All Internal User'"
      ></app-breadcrumb>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="body">
            <div class="table-responsive">
              <div class="materialTableHeader">
                <div class="row">
                  <div class="col-8">
                    <ul class="header-buttons-left ms-0">
                      <li class="dropdown">
                        <h2>
                          <strong>Internal Users</strong>
                        </h2>
                      </li>
                      <li class="dropdown m-l-20">
                        <label for="search-input"
                          ><i class="material-icons search-icon"
                            >search</i
                          ></label
                        >
                        <input
                          placeholder="Search"
                          type="text"
                          (keyup)="search($event.target.value)"
                          class="browser-default search-field"
                          aria-label="Search box"
                        />
                      </li>
                      <li style="margin-left: 8px">
                        <button
                          [matTooltip]="'Internal User Filter'"
                          [ngClass]="isFilterSelected ? 'filter_active' : ''"
                          (click)="openFilterModal()"
                          mat-icon-button
                        >
                          <mat-icon>tune</mat-icon>
                        </button>
                      </li>
                    </ul>
                  </div>
                  <div class="col-4">
                    <ul class="header-buttons">
                      <li>
                        <div class="m-l-10" matTooltip="ADD">
                          <button
                            mat-mini-fab
                            color="primary"
                            (click)="addInternalUser('Add Internal User')"
                          >
                            <mat-icon class="col-white">add</mat-icon>
                          </button>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <mat-table
                #table
                [dataSource]="internalUserData"
                class="mat-cell"
              >
                <ng-container matColumnDef="name">
                  <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
                  <mat-cell *matCellDef="let row">
                    {{ row.name | titlecase }}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="emailId">
                  <mat-header-cell *matHeaderCellDef>Email Id</mat-header-cell>
                  <mat-cell *matCellDef="let row">
                    <div class="matTableEmailIdWordBreak">
                      {{ row.emailId }}
                    </div></mat-cell
                  >
                </ng-container>
                <ng-container matColumnDef="role">
                  <mat-header-cell *matHeaderCellDef>Role</mat-header-cell>
                  <mat-cell *matCellDef="let row">
                    {{
                      row.role?.roleName ? row.role?.roleName : "NIL"
                    }}</mat-cell
                  >
                </ng-container>
                <ng-container matColumnDef="userType">
                  <mat-header-cell *matHeaderCellDef>User Type</mat-header-cell>
                  <mat-cell *matCellDef="let row">
                    {{ row.userType | titlecase }}</mat-cell
                  >
                </ng-container>
                <!-- actions -->
                <ng-container matColumnDef="actions">
                  <mat-header-cell class="pr-0" *matHeaderCellDef
                    >Actions</mat-header-cell
                  >
                  <mat-cell *matCellDef="let row; let i = index" class="pr-0">
                    <button
                      mat-icon-button
                      (click)="editInternalUser('Edit Internal User', row)"
                      class="tbl-action-btn"
                    >
                      <app-feather-icons
                        [icon]="'edit'"
                        [class]="'tbl-fav-edit'"
                      ></app-feather-icons>
                    </button>
                    <button
                      mat-icon-button
                      (click)="deleteRecord(row._id)"
                      class="tbl-action-btn"
                    >
                      <app-feather-icons
                        [icon]="'trash-2'"
                        [class]="'tbl-fav-delete'"
                      ></app-feather-icons>
                    </button>
                  </mat-cell>
                </ng-container>
                <mat-header-row
                  *matHeaderRowDef="displayedColumns"
                ></mat-header-row>
                <!-- <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row> -->
                <mat-row
                  *matRowDef="let row; columns: displayedColumns"
                  [style.cursor]="'pointer'"
                  matRipple
                >
                </mat-row>
              </mat-table>

              <div
                *ngIf="!isDataLoading && internalUserData.data?.length === 0"
                class="no-results"
              >
                No results
              </div>

              <div class="table_loader" *ngIf="isDataLoading">
                <mat-spinner class="mx-auto mb-2 mt-2" [diameter]="30">
                </mat-spinner>
              </div>

              <mat-paginator
                (page)="onPaginateChange($event)"
                [length]="totalElement"
                [pageSize]="internalUserDataDetails.limit"
                [pageSizeOptions]="[5, 10, 25, 100]"
              >
              </mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
