<div class="modalHeader">
  <div class="editRowModal">
    <div class="modalHeader clearfix">
      <div class="modal-about">
        <div class="font-weight-bold p-t-5 font-17">
          {{ dialogTitle }}
        </div>
      </div>
    </div>
  </div>
  <button
    mat-icon-button
    (click)="closeDialog(false)"
    aria-label="Close dialog"
  >
    <mat-icon>close</mat-icon>
  </button>
</div>
<div mat-dialog-content>
  <form class="p-3" [formGroup]="formGroup">
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-4">
        <label class="mat-label mb-3">Estimate Given*</label>
        <mat-radio-group
          formControlName="estimateGiven"
          class="d-block mb-1"
          (change)="onRadioChange($event)"
        >
          <mat-radio-button value="yes" class="mr-3">Yes</mat-radio-button>
          <mat-radio-button value="no">No</mat-radio-button>
        </mat-radio-group>

        <mat-error
          *ngIf="
            formGroup.controls['estimateGiven'].hasError('required') &&
            formGroup.controls['estimateGiven'].touched
          "
        >
          Estimate Given is required
        </mat-error>
      </div>
    </div>
    <div class="row">
      <div
        class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2"
        *ngIf="formGroup?.get('estimateGiven')?.value === 'yes'"
      >
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Estimate Date</mat-label>
          <input
            matInput
            [owlDateTime]="estd"
            [owlDateTimeTrigger]="estd"
            formControlName="estimateDate"
          />
          <mat-icon matSuffix [owlDateTimeTrigger]="estd" class="date-icon"
            >today</mat-icon
          >
          <owl-date-time
            hour12Timer="true"
            #estd
            pickerType="both"
          ></owl-date-time>
        </mat-form-field>
      </div>

      <div
        class="col-xl-4 col-lg-4 col-md-12 col-sm-12"
        *ngIf="
          (formGroup?.get('estimateGiven')?.value === 'yes' ||
            formGroup?.get('estimateGiven')?.value === 'no') &&
          !isEdit
        "
      >
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Select Hospital</mat-label>
          <mat-select
            msInfiniteScroll
            (infiniteScroll)="onInfiniteScrollHospital()"
            formControlName="hospitalId"
          >
            <input
              class="searchInput"
              placeholder="search..."
              (keydown.space)="$event.stopPropagation()"
              matInput
              (keyup)="searchHospital($event.target.value)"
            />
            <div
              class="other_option"
              *ngIf="!hospitalData?.length && !isLoadingHospital"
            >
              No results
            </div>
            <mat-option
              *ngFor="let item of hospitalData"
              [value]="item._id"
              (click)="onChangeHospital(item?.name)"
            >
              {{ item.name }}
            </mat-option>
            <mat-spinner
              *ngIf="isLoadingHospital"
              class="mx-auto mb-2 mt-2"
              [diameter]="30"
            >
            </mat-spinner>
          </mat-select>
        </mat-form-field>
      </div>

      <div
        class="col-xl-4 col-lg-4 col-md-12 col-sm-12"
        *ngIf="
          (formGroup?.get('estimateGiven')?.value === 'yes' ||
            formGroup?.get('estimateGiven')?.value === 'no') &&
          isEdit
        "
      >
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Hospital</mat-label>
          <input matInput formControlName="hospitalName" type="text" />
        </mat-form-field>
      </div>

      <div
        class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2"
        *ngIf="formGroup?.get('estimateGiven')?.value === 'yes'"
      >
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Approx Admission Date</mat-label>
          <input
            matInput
            [owlDateTime]="apAD"
            [owlDateTimeTrigger]="apAD"
            formControlName="approxAdmissionDate"
          />
          <mat-icon matSuffix [owlDateTimeTrigger]="apAD" class="date-icon"
            >today</mat-icon
          >
          <owl-date-time
            hour12Timer="true"
            #apAD
            pickerType="both"
          ></owl-date-time>
        </mat-form-field>
      </div>

      <!-- <div
      class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2"
      *ngIf="formGroup?.get('estimateGiven')?.value === 'yes'"
    >
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Package Name</mat-label>
        <input matInput type="text" formControlName="packageName" />
      </mat-form-field>
    </div>

      <div
        class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2"
        *ngIf="formGroup?.get('estimateGiven')?.value === 'yes'"
      >
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Room Category</mat-label>
          <input matInput type="text" formControlName="roomCategory" />
        </mat-form-field>
      </div>

      <div
        class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2"
        *ngIf="formGroup?.get('estimateGiven')?.value === 'yes'"
      >
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Room Price</mat-label>
          <input matInput type="number" formControlName="roomPrice" />
        </mat-form-field>
      </div>

      <div
        class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2"
        *ngIf="formGroup?.get('estimateGiven')?.value === 'yes'"
      >
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Select Currency</mat-label>
          <mat-select
            formControlName="currency"
            [compareWith]="compareCurrencyObjects"
          >
            <input
              class="searchInput"
              placeholder="search..."
              (keydown.space)="$event.stopPropagation()"
              matInput
              (keyup)="searchCurrency($event.target.value)"
            />
            <div class="other_option" *ngIf="!currencyArray?.length">
              No results
            </div>

            <mat-option
              (click)="onClickCurrency(currency)"
              *ngFor="let currency of currencyArray"
              [value]="currency"
            >
              {{ currency?.code }} - {{ currency?.name }}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="formGroup.controls['currency'].hasError('required')"
          >
            Select Currency is required
          </mat-error>
        </mat-form-field>
      </div> -->

      <!-- if estimates is no -->
      <div
        class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2"
        *ngIf="formGroup?.get('estimateGiven')?.value === 'no'"
      >
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Comment</mat-label>
          <textarea matInput formControlName="comment"></textarea>
          <mat-error *ngIf="formGroup.controls['comment'].hasError('required')">
            Comment is required
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div *ngIf="formGroup?.get('estimateGiven')?.value === 'yes'">
      <div>
        <button
          mat-button
          type="button"
          style="background-color: #1560bd; color: #fff; margin-bottom: 12px"
          (click)="addPackage()"
        >
          +Add Package
        </button>
      </div>
      <div *ngIf="getPackageArray?.value?.length">
        <div formArrayName="packageArray">
          <div
            class="card p-3"
            *ngFor="let package of getPackageArray.controls; let i = index"
          >
            <div
              style="
                display: flex;
                justify-content: space-between;
                align-items: center;
              "
            >
              <h4>Package {{ i + 1 }}</h4>
              <mat-icon
                style="cursor: pointer; color: red"
                (click)="deletePackage(i)"
                >delete_forever</mat-icon
              >
            </div>
            <div class="row" [formGroupName]="i">
              <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Package Name</mat-label>
                  <input matInput type="text" formControlName="packageName" />
                </mat-form-field>
              </div>

              <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Room Category</mat-label>
                  <input matInput type="text" formControlName="roomCategory" />

                  <mat-error
                    *ngIf="
                      package?.controls['roomCategory'].hasError('required')
                    "
                  >
                    Package Category is required
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Room Price</mat-label>
                  <input matInput type="number" formControlName="roomPrice" />

                  <mat-error
                    *ngIf="package?.controls['roomPrice'].hasError('required')"
                  >
                    Package Price is required
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Select Currency</mat-label>
                  <mat-select
                    formControlName="currency"
                    [compareWith]="compareCurrencyObjects"
                  >
                    <input
                      class="searchInput"
                      placeholder="search..."
                      (keydown.space)="$event.stopPropagation()"
                      matInput
                      (keyup)="searchCurrency($event.target.value)"
                    />
                    <div class="other_option" *ngIf="!currencyArray?.length">
                      No results
                    </div>

                    <mat-option
                      (click)="onClickCurrency(currency)"
                      *ngFor="let currency of currencyArray"
                      [value]="currency"
                    >
                      {{ currency?.code }} - {{ currency?.name }}
                    </mat-option>
                  </mat-select>
                  <mat-error
                    *ngIf="package.controls['currency'].hasError('required')"
                  >
                    Select Currency is required
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div>
      <button mat-flat-button color="primary" (click)="actionSubmit(true)">
        Submit
      </button>
    </div>
  </form>
</div>
