<div>
  <h4>{{ selectedMasterOption?.name }}</h4>

  <div class="card p-3 mt-3">
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Select Hospital</mat-label>
        <mat-select
          msInfiniteScroll
          (infiniteScroll)="onInfiniteScrollHospital()"
          (selectionChange)="onChangeHospital($event)"
          [(ngModel)]="selectHospital._id"
        >
          <input
            class="searchInput"
            placeholder="search..."
            (keydown.space)="$event.stopPropagation()"
            matInput
            (keyup)="searchHospital($event.target.value)"
          />
          <div
            class="other_option"
            *ngIf="!hospitalData?.length && !isLoadingHospital"
          >
            No results
          </div>
          <mat-option *ngFor="let item of hospitalData" [value]="item._id">
            {{ item.name }}
          </mat-option>
          <mat-spinner
            *ngIf="isLoadingHospital"
            class="mx-auto mb-2 mt-2"
            [diameter]="30"
          >
          </mat-spinner>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="tabsDiv card p-3">
    <mat-tab-group (selectedTabChange)="onTabChange($event)">
      <!-- op tab start -->
      <mat-tab label="Out Patient" [disabled]="!selectedHospitalId">
        <div *ngIf="selectedTab === 'Out Patient'">
          <app-op-hospital-payout
            [hospitalId]="this.selectedHospitalId"
            [hospitalData]="hospitalData"
          ></app-op-hospital-payout>
        </div>
      </mat-tab>
      <!-- op tab end -->
      <!-- ip tab start -->
      <mat-tab label="In Patient" [disabled]="!selectedHospitalId">
        <div *ngIf="selectedTab === 'In Patient'">
          <app-ip-hospital-payout
            [hospitalId]="this.selectedHospitalId"
            [hospitalData]="hospitalData"
          ></app-ip-hospital-payout>
        </div>
      </mat-tab>
      <!-- ip tab end -->

      <!-- package tab start -->
      <mat-tab label="Packages" [disabled]="!selectedHospitalId">
        <div *ngIf="selectedTab === 'Packages'">
          <app-packages-hospital-payout
            [hospitalId]="this.selectedHospitalId"
            [hospitalData]="hospitalData"
          ></app-packages-hospital-payout>
        </div>
      </mat-tab>
      <!-- package tab end -->

      <mat-tab label="Slabs" [disabled]="!selectedHospitalId"> Slabs </mat-tab>
      <mat-tab label="Incentive" [disabled]="!selectedHospitalId">
        Incentive
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
