.overrideDiv {
  // height: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

table {
  border: 1px solid black !important;
}

th {
  border-bottom: 1px solid black !important;
  padding: 8px !important;
}
td {
  min-width: 120px !important;
  padding: 4px 8px !important;
}
