<div class="modalHeader">
  <div class="editRowModal">
    <div class="modalHeader clearfix">
      <div class="modal-about">
        <div class="font-weight-bold p-t-5 font-17">
          {{ dialogTitle }}
        </div>
      </div>
    </div>
  </div>
  <button
    mat-icon-button
    (click)="closeDialog(false)"
    aria-label="Close dialog"
  >
    <mat-icon>close</mat-icon>
  </button>
</div>
<div mat-dialog-content>
  <form class="p-3" [formGroup]="formGroup">
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12" *ngIf="!isEdit">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Select Hospital</mat-label>
          <mat-select
            msInfiniteScroll
            (infiniteScroll)="onInfiniteScrollHospital()"
            formControlName="hospitalId"
          >
            <input
              class="searchInput"
              placeholder="search..."
              (keydown.space)="$event.stopPropagation()"
              matInput
              (keyup)="searchHospital($event.target.value)"
            />
            <div
              class="other_option"
              *ngIf="!hospitalData?.length && !isLoadingHospital"
            >
              No results
            </div>
            <mat-option
              *ngFor="let item of hospitalData"
              [value]="item._id"
              (click)="onChangeHospital(item?.name)"
            >
              {{ item.name }}
            </mat-option>
            <mat-spinner
              *ngIf="isLoadingHospital"
              class="mx-auto mb-2 mt-2"
              [diameter]="30"
            >
            </mat-spinner>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2" *ngIf="isEdit">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Hospital</mat-label>
          <input matInput formControlName="hospitalName" type="text" />
        </mat-form-field>
      </div>

      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Deposit Amount</mat-label>
          <input matInput formControlName="depositAmount" type="number" />

          <mat-error
            *ngIf="formGroup.controls['depositAmount'].hasError('required')"
          >
            Deposit Amount is required
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Select Currency</mat-label>
          <mat-select
            formControlName="currency"
            [compareWith]="compareCurrencyObjects"
          >
            <input
              class="searchInput"
              placeholder="search..."
              (keydown.space)="$event.stopPropagation()"
              matInput
              (keyup)="searchCurrency($event.target.value)"
            />
            <div class="other_option" *ngIf="!currencyArray?.length">
              No results
            </div>

            <mat-option
              (click)="onClickCurrency(currency)"
              *ngFor="let currency of currencyArray"
              [value]="currency"
            >
              {{ currency?.code }} - {{ currency?.name }}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="formGroup.controls['currency'].hasError('required')"
          >
            Select Currency is required
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Date of Deposit</mat-label>
          <input
            matInput
            [owlDateTime]="dod"
            [owlDateTimeTrigger]="dod"
            formControlName="dateOfDeposit"
          />
          <mat-icon matSuffix [owlDateTimeTrigger]="dod" class="date-icon"
            >today</mat-icon
          >
          <owl-date-time
            hour12Timer="true"
            #dod
            pickerType="both"
          ></owl-date-time>

          <mat-error
            *ngIf="formGroup.controls['dateOfDeposit'].hasError('required')"
          >
            Date of Deposit is required
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Select Currency Converter</mat-label>
          <mat-select
            formControlName="currencyConverter"
            [compareWith]="compareCurrencyObjects"
          >
            <input
              class="searchInput"
              placeholder="search..."
              (keydown.space)="$event.stopPropagation()"
              matInput
              (keyup)="searchCurrencyConverter($event.target.value)"
            />
            <div class="other_option" *ngIf="!currencyConverterArray?.length">
              No results
            </div>

            <mat-option
              (click)="onClickCurrencyConverter(currencyConverter)"
              *ngFor="let currencyConverter of currencyConverterArray"
              [value]="currencyConverter"
            >
              {{ currencyConverter?.code }} - {{ currencyConverter?.name }}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="formGroup.controls['currencyConverter'].hasError('required')"
          >
            Select Currency Converter is required
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Transfer Type</mat-label>
          <mat-select formControlName="transferType">
            <mat-option
              [value]="item"
              *ngFor="let item of transferOption"
              (click)="onClickTransferType(item)"
              >{{ item | titlecase }}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="formGroup.controls['transferType'].hasError('required')"
          >
            Transfer Type is required
          </mat-error>
        </mat-form-field>
      </div>

      <div
        class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2"
        *ngIf="formGroup?.get('transferType')?.value === 'Wire'"
      >
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Swift Code</mat-label>
          <input matInput formControlName="swiftCode" />

          <mat-error
            *ngIf="formGroup.controls['swiftCode'].hasError('required')"
          >
            Swift Code is required
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
        <app-global-image-preview
          [fileList]="fileFirstList"
          [filePreviewList]="fileFirstPreviewUrls"
          [type]="'fileUploader'"
          [remove]="true"
          (onDelete)="onDelete($event, 'fileFirst')"
        ></app-global-image-preview>

        <div id="fileFirst">
          <h6 style="color: #666666">Upload Payment reciept</h6>
          <mat-form-field
            class="example-full-width always-floating-label"
            appearance="outline"
          >
            <ngx-mat-file-input
              style="display: none"
              #fileFirstInput
              class="mat-form-field-should-float"
              accept=".png, .jpg, .jpeg, .pdf"
              name="file"
              formControlName="fileFirst"
              (change)="onFileSelected($event, 'fileFirst')"
              multiple
            >
            </ngx-mat-file-input>

            <div
              style="
                display: flex;
                align-items: center;
                justify-content: space-between;
              "
            >
              <div>
                <span *ngFor="let file of fileFirstList; let i = index">
                  <span
                    >{{ file?.name
                    }}<span *ngIf="i < fileFirstList?.length - 1">, </span>
                  </span>
                </span>
              </div>
              <mat-icon style="transform: translateY(-5px)">upload</mat-icon>
            </div>
            <mat-error
              *ngIf="formGroup.controls['fileFirst'].hasError('required')"
            >
              Payment reciept is required
            </mat-error>
          </mat-form-field>
        </div>

        <div *ngIf="paymentRecieptArray?.length">
          <div><b>Payment reciept</b></div>
          <div class="row">
            <div *ngIf="paymentRecieptArray?.length" class="mt-4">
              <app-global-image-preview
                [fileList]="paymentRecieptArray"
                [filePreviewList]="paymentRecieptArray"
                [type]="'fileUploaded'"
                [remove]="false"
              ></app-global-image-preview>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div>
      <button mat-flat-button color="primary" (click)="actionSubmit(true)">
        Submit
      </button>
    </div>
  </form>
</div>
