<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb
        [title]="'Calendar'"
        [active_item]="'Calendar'"
      ></app-breadcrumb>
    </div>
    <div class="card p-3">
      <full-calendar
        id="calendar"
        #calendar
        [class.hidden]="loading"
        [options]="calendarOptions"
      >
      </full-calendar>
      <div class="cal_loader" *ngIf="loading">
        <mat-spinner class="mx-auto mb-2 mt-2" [diameter]="30"> </mat-spinner>
      </div>
    </div>
  </div>
</section>
