<section class="content">
  <div class="content-block">
    <div class="finance-container">
      <div class="query-toolbar mb-4">
        <global-shared-finance-module-toolbar
          (toolbarEvent)="queryEventHandler({ mode: 'Add_Query' })"
          (searchEvent)="searchEventHandler($event)"
        >
          <!-- *ngIf="showFilterArray?.includes(tokenData?.userType)" -->
          <!-- <button
            [ngClass]="isFilterActive ? 'filter_active' : ''"
            [matTooltip]="'Filter Patient'"
            mat-icon-button
            (click)="openFilterModal()"
          >
            <mat-icon>tune</mat-icon>
          </button> -->
        </global-shared-finance-module-toolbar>
      </div>
      <div
        class="main-section d-flex gap-4 align-items-start justify-content-start"
      >
        <div class="left">
          <div
            class="list-wrapper hide-scrollbar"
            infiniteScroll
            [infiniteScrollDistance]="0.5"
            [infiniteScrollThrottle]="30"
            (scrolled)="onInfiniteScrollPatient()"
            [scrollWindow]="false"
          >
            <global-shared-finance-module-patient-list
              [isLoadingPatient]="isLoadingPatient"
              [selectedQueryId]="selectedQueryId"
              (selectedQuery)="selectedQuery($event)"
              [patientList]="patientList"
              [uhidCode]="uhidCode"
            >
            </global-shared-finance-module-patient-list>
            <div
              [ngClass]="!patientList?.length ? 'loader_center' : ''"
              *ngIf="isLoadingPatient"
            >
              <mat-spinner class="mx-auto mb-2 mt-2" [diameter]="30">
              </mat-spinner>
            </div>
          </div>
        </div>
        <div class="right">
          <div class="query-wrapper">
            <div
              *ngIf="!queryData && !queryLoading"
              style="height: 100%; display: grid; place-items: center"
            >
              No Query Selected
            </div>
            <div
              *ngIf="queryLoading"
              style="height: 100%; display: grid; place-items: center"
            >
              <mat-spinner class="mx-auto mb-2 mt-2" [diameter]="30">
              </mat-spinner>
            </div>
            <app-operation-entries-right-details
              *ngIf="!!queryData && !queryLoading"
              [queryData]="queryData"
              (queryEvent)="queryEventHandler($event)"
            ></app-operation-entries-right-details>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
