.title {
  width: 40px;
  height: 40px;
  font-size: 1.2rem;
  border-radius: 50%;
  background-color: #e2f0fb;
  color: #000000;
  font-weight: 600;
  display: grid;
  place-items: center;
}

.comment_main {
  height: 100%;
  .search_div {
    border-radius: 10px;
    padding: 0.5rem;
    border: 1px solid lightgrey;
    margin-bottom: 24px;
    .search_comment {
      border-radius: 0 !important;
      width: 100%;
      border: none;
      box-shadow: none !important;
      box-sizing: border-box !important;
      font-size: inherit !important;
      padding: 8px !important;
      position: -webkit-sticky !important;
      position: sticky !important;
      top: 0 !important;
      z-index: 100 !important;
      background: transparent !important;
    }
  }

  .not_found {
    display: grid;
    place-items: center;
    height: 100%;
  }

  .comment_div {
    width: 100%;
    height: 340px;
    overflow: auto;
    .comment {
      width: 100%;
      display: flex;
      gap: 12px;
      border: 0.5px solid lightgray;
      padding: 12px;
      border-radius: 10px;
      .main {
        width: 85%;
        .name {
          font-size: 16px;
          font-weight: 600;
        }
        .heading_div {
          display: flex;
          justify-content: space-between;
        }
        .message {
          // color: #0e7fe1;
        }
        .time {
          color: green;
          display: flex;
          align-items: center;
          gap: 4px;
        }
      }
      .mention {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 12px;
        .mention_list {
        }
        .chip {
          border-radius: 40px;
          padding: 3px 5px;
          border: 0.5px solid lightgrey;
          background-color: #bcdefb;
          color: black;
          margin-right: 4px;
        }
      }
    }
    .comment_is_Light {
      background-color: rgba(246, 246, 246, 0.474);
    }
    .comment_is_Dark {
      background-color: transparent;
    }
  }
}
