<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb
        [title]="'On Premise User'"
        [active_item]="'All On Premise User'"
      ></app-breadcrumb>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="body">
            <div class="table-responsive">
              <div class="materialTableHeader">
                <div class="row">
                  <div class="col-8">
                    <ul class="header-buttons-left ms-0">
                      <li class="dropdown">
                        <h2 class="mt-3">
                          <strong>On Premise Users</strong>
                        </h2>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <mat-table #table [dataSource]="userData" class="mat-cell">
                <ng-container matColumnDef="id">
                  <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{ row.id }}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="serverName">
                  <mat-header-cell *matHeaderCellDef
                    >Server Name</mat-header-cell
                  >
                  <mat-cell *matCellDef="let row"> {{ row.name }}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="status">
                  <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
                  <mat-cell *matCellDef="let row"
                    ><span class="badge badge-success">Online</span>
                  </mat-cell>
                </ng-container>
                <mat-header-row
                  *matHeaderRowDef="displayedColumns"
                ></mat-header-row>
                <!-- <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row> -->
                <mat-row
                  *matRowDef="let row; columns: displayedColumns"
                  [style.cursor]="'pointer'"
                  matRipple
                >
                </mat-row>
              </mat-table>

              <div class="table_loader" *ngIf="isDataLoading">
                <mat-spinner class="mx-auto mb-2 mt-2" [diameter]="30">
                </mat-spinner>
              </div>

              <div
                *ngIf="!isDataLoading && userData.data?.length === 0"
                class="no-results"
              >
                No results
              </div>
              <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]">
              </mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
