<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb
        [title]="'Email Fetch'"
        [active_item]="'All Email Fetch'"
      ></app-breadcrumb>
    </div>
    <div class="row">
      <!-- <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <div class="body">
          <div>
            <button type="button" class="compose">
              <mat-icon>edit</mat-icon> Compose
            </button>

            <div class="listElements activeElement">
              <div class="d-flex align-items-center">
                <mat-icon style="margin-right: 8px">photo</mat-icon> Inbox
              </div>
              <span>{{ totalUnreadMessage }}</span>
            </div>
          </div>
        </div>
      </div> -->
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <shared-inbox></shared-inbox>
      </div>
    </div>
  </div>
</section>
